body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('back.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'Arial', sans-serif;
}

.login-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    transform: translateX(-180px); 
}

.login-container h2 {
    color: #fff;
}

.login-container input[type="text"], /* Updated selector */
.login-container input[type="password"] {
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.login-container input[type="submit"] {
    width: 98%;
    padding: 15px;
    margin: 10px 0;
    background-color: #6200EA;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #3700B3;
}

.login-container .signup-btn {
    display: block;
    margin-top: 10px;
    color: #6200EA;
    text-decoration: none;
}

.login-container .signup-btn:hover {
    text-decoration: underline;
}

/* Styles for the register-container, similar to the login-container */
.register-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    transform: translateX(-180px); 
    border: 2px solid black;
}

.register-container h2 {
    color: #fff;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.register-container label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    color: #333;
}

.register-container input[type="text"], /* Updated selector */
.register-container input[type="password"] {
    width: 92%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.register-container button[type="submit"] {
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    background-color: #6200EA;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.register-container button[type="submit"]:hover {
    background-color: #3700B3;
}

.register-container p {
    color: #333;
    margin-top: 10px;
}

.register-container .login-link {
    color: #6200EA;
    text-decoration: none;
}

.register-container .login-link:hover {
    text-decoration: underline;
}
